<html>

  <head>

    {% include 'head.html' %}

    {% load static %}
      <link rel = "stylesheet" type = "text/css" href = "{% static '/blog/featured.css' %}">
      
  </head>

  <body>

    {% include 'navbar.html' %}

    <section id = "content">

      {% for article in articles %}

        <div>
          <h2>
            <href = "/blog/article/{{ article.id }}"> {{ article.title }} </href>
          </h2>
          <p>
            {{ article.release_date }}
          </p>
          <p>
            {{ article.first_paragraph }}
          </p>
        </div>

      {% endfor %}

    </section>

  </body>

</html>