{% extends "blog/reader/base.html" %}

{% block title %}{{ article.category.name }}{% endblock %}

{% block header %}{{ article.title }}{% endblock %}

{% block content %}

  <p><i>{{ article.release_date }}</i></p>

  {% for content in article.get_content %}   
    {% if content.type == "image" %}   

    <img src="{{ content.image.source.url }}">

    <p class = "caption">{{ content.image.caption }}</p>

    {% elif content.type == "paragraph" %}

    <p class = "paragraph">{{ content.paragraph }}</p>

    {% endif %}
  {% endfor %}

{% endblock %}

