<!DOCTYPE html>
<html>
  <head>
    
    {% include 'homepage/head_info.html' %}

    {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static '/homepage/css/projects.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static '/homepage/css/common.css' %}">
  </head>
  <body>

    {% include 'homepage/navbar.html' %}

    <main>
      <section id="projects" class = "content">
        <h2>Projects</h2>
        <ul>
          <li id = "#blog">
            <h3>Blog</h3>
            <p>A blog site where authors can publish articles and users can read them. <a href = "/blog/featured/">Click here</a> to view it.</p>
          </li>
          <li id = "#store">
            <h3>Store</h3>
            <p>[Coming soon.]</p>
          </li>
        </ul>
      </section>
    </main>

    {% include 'homepage/footer.html' %}

  </body>
</html>
