
<h2 id = "about">About Me</h2>

<p>
  I am an adaptable, conscientious, and inventive person with experience in a wide variety of disciplines and situations. 
  My strengths include dedication, teamwork, working well under my own initiative and an adaptable and flexible approach. 
  I enjoy the challenges of problem-solving. 
  Producing effective solutions in different scenarios is something I find both engaging and satisfying. 
  I take an experimental approach, rapidly developing my projects then ironing out any bugs afterwords. 
</p>

<h2 id = "comparison">Comparison Creator</h2>

<p>
  During the year I worked for Comparison Creator, 
  a company focused on white label and partnership contracts with major comparison sites such as Go.Compare and MoneySuperMarket, 
  I gained a great deal of practical experience with many different technologies implemented there. 
  Comparison Creator was an excellent place to learn industry skills and knowledge, 
  developing my Django and infrastructure skills to the point where I can deploy websites like this one!
</p>

<h2 id = "university">University</h2>

<p>
  My Computer Science Course at Cardiff involved the theory, design, development, and application of computer-based technologies. 
  I studied many aspects of computing, but my main interest was coding and software development using Python and Java to complete my projects. 
  Django web development one of the modules in my university course - it served as the foundation for my role at Comparison Creator.
</p>

<h2 id = "personal">Personal Achievements</h2>

<p>
  As a member of Panteg Scout Group, I was awarded the Chief Scout's Gold Award from Bear Grylls. 
  Building on that, one of my most rewarding experiences was accepting the Duke of Edinburgh Gold Award from Prince Edward at St James Palace. 
</p>