<!DOCTYPE html>
<html>

  <head>

    {% include 'head_info.html' %}

    {% load static %}
      <link rel = "stylesheet" type = "text/css" href = "{% static '/homepage/homepage.css' %}">
      
  </head>

  <body>

    {% include 'hero.html' %}

    {% include 'navbar.html' %}

    <section id = "content">

      <h2>Contact Details</h2>

      <p>
        Thank you for taking the time to look through my website. Here are the various contact details you can use to find me:
      </p>

      <ul>
        <li>Phone Number - 07745 374260</li>
        <li>Email Address - matthewpaulh@hotmail.co.uk</li>
        <li>My <a href = "https://www.linkedin.com/in/matthew-hill-86684811b/">LinkinIn Account</a></li>
        <li>Physical Address - New Inn, Pontypool, NP4 0RR</li>
        <li><a href = "https://github.com/amazingplum53/portfolio">Github Repository</a> for this project</li>
      </ul>

      <p>
        Thanks again!
      </p>

    </section>

  </body>

</html>
