
<header>
  <nav>
    <ul>
      <li><a href="/homepage/about/#">Home</a></li>
      <li>
        <a href="/homepage/about/#about">About</a>
        <ul>
          <li><a href="/homepage/about/#about">Personal Statement</a></li>
          <li><a href="/homepage/about/#skills">Skills</a></li>
          <li><a href="/homepage/about/#edu-job">Education and Work</a></li>
          <li><a href="/homepage/about/#interests">Interests</a></li>
        </ul>
      </li>
      <li>
        <a href="/homepage/projects/#">Projects</a>
        <ul>
          <li><a href="/homepage/projects/#blog">Blog</a></li>
          <li><a href="/homepage/projects/#store">Store</a></li>
          <li><a href="/homepage/projects/#comparison">Comparison Site</a></li>
        </ul>
      </li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>