
<nav>
    <ul>

      <div class = "dropdown">
        <button class = "dropbtn">
          <a href = '/homepage/about/'>
            About
          </a>             
        </button>
        <div class="dropdown-content">
          <li><a href = "/homepage/about/#about">About Me</a></li>
          <li><a href = "/homepage/about/#comparison">Comparison Creator</a></li>
          <li><a href = "/homepage/about/#university">University</a></li>
          <li><a href = "/homepage/about/#personal">Personal Achievements</a></li>
        </div>
      </div> 

      <div class = "dropdown">
        <button class = "dropbtn">
          <a href = '/homepage/portfolio/'>
            Portfolio
          </a>             
        </button>
        <div class="dropdown-content">
          <li><a href = "/blog/featured/">Blog</a></li>
          <li><a href = "/store/">Store</a></li>
          <li><a href = "/comparison/">Comparison Site</a></li>
        </div>
      </div> 

      <div><a href = '/homepage/contact/'>
        Contact
      </a></div>
    
    </ul>
  </nav>