<!DOCTYPE html>
<html>
  <head>
    
    {% include 'head_info.html' %}

    {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static '/homepage/projects.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static '/homepage/common.css' %}">
  </head>
  <body>

    {% include 'navbar.html' %}

    <main>
      <section id="projects" class = "content">
        <h2>Projects</h2>
        <ul>
          <li id = "#blog">
            <h3>Blog</h3>
            <p>[Insert project description here.]</p>
          </li>
          <li id = "#store">
            <h3>Store</h3>
            <p>[Insert project description here.]</p>
          </li>
          <li id = "#comparison">
            <h3>Comparison Site</h3>
            <p>[Insert project description here.]</p>
          </li>
        </ul>
      </section>
    </main>

    {% include 'footer.html' %}

  </body>
</html>
